path{
			fill:none;
	}

		.axis path{
			fill:orange;
		}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 160px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
        background: none repeat scroll 0 0 white;
    border: 0px;		
    border-radius: 18px;			
    pointer-events: none;			
}

svg{
    background-color: lightblue;
    display: block;
     
    margin-left:auto;
    margin-right: auto;
}
h1{
    color:blue;
}
